@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

:root{
  --color-primary: #6380ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: rgb(38, 39, 40);
  --color-bg2: #cecfda;

  --transition: all 400ms ease;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
.contenido-principal {
  padding-top: 2rem;
}
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;     
  width: 100%;
  object-fit: cover;
}
.background{
  background-image: url("/assets/supermarket.png");
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #0045c4;
}

/*====================================================================================*/
