@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
  font-family: 'Poppins' ,sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

.background {
  background: url(./assets/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 5rem 10%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 2rem;  
  text-transform: capitalize;
  font-family: 'Poppins' ,sans-serif;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.5);
  transition: transform .5s ease height .2s ease;
}

.btn:hover {
  transform: scale(1.1);
  color: #fff;
}

.home {
  padding: 0;
}

.home .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover !important;
  background-position: center !important;
}

.home .slide .content {
  text-align: center;
}

.home .slide .content h3 {
  font-size: 3rem;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 1rem;
}

.home .slide .content h3 strong {
  font-size: 3rem;
}

